<html>
	<head>
		<title>dozen - 曖昧目標管理ツール「土善」</title>
		<%= javascript_include_tag :defaults %>
	</head>
	<body>
		<script language="javascript">

			function Goal() {};
			var Editor = {};

			Editor.add = function(description_elem, term_elem)
			{
				var goal = new Goal;
				goal.description = description_elem.value;
				goal.term = term_elem.value;

				add_async(goal, function()
				{
          location.reload();
				});
			}

			Editor.edit = function(id, description_elem, term_elem)
			{
				var goal = new Goal;
				goal.description = description_elem.value;
				goal.term = term_elem.value;
				goal.id = id;

				edit_async(goal, function()
				{
          location.reload();
				});
			}

			Editor.remove = function(id)
			{
				remove_async(id, function()
				{
          location.reload();
				});
			}

			function add_async(goal, callback)
			{
				new Ajax.Request(
					"/editor/add",
					{
						method: "post",
						parameters: "description=" + goal.description + "&term=" + goal.term,
						onComplete: callback
					});
			}

			function edit_async(goal, callback)
			{
				new Ajax.Request(
					"/editor/edit",
					{
						method: "post",
						parameters: "description=" + goal.description + "&term=" + goal.term + "&id=" + goal.id,
						onComplete: callback
					});
			}

			function remove_async(id, callback)
			{
				new Ajax.Request(
					"/editor/remove",
					{
						method: "post",
						parameters: "id=" + id,
						onComplete: callback
					});
			}
		</script>

		<h1>dozen - 曖昧目標管理ツール「土善」</h1>

		<p>
		<input type="text" size="30" id="goal_description" /> を
		<input type="text" size="3"  id="goal_term" /> 年後に
		<a href="#" onclick="Editor.add($('goal_description'), $('goal_term'))">登録</a>
		</p>

		<div>
			<% (0..@goals.size-1).each do |i| %>
				<span style="font-size:<%= @levels[i] + 12 %>px">
					<%= @goals[i].description %>
				</span>
			<% end %>
		</div>

		<ul>
			<% @goals.each do |goal| %>
				<li><%= goal.description %>
				: <%= goal.term.strftime("%Y年%m月ごろ") %>
				<a href="#" onclick="Editor.remove(<%= goal.id %>)">[削除]</a></li>
			<% end %>
		</ul>

	</body>
</html>
